# Environment variables
# We will use SQLite, so no DB credentials needed for Phase 1

# Email Notification Settings
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USERNAME=your_username
EMAIL_PASSWORD=your_password
EMAIL_FROM=noreply@seo-agent.local
